.main {
  display: flex;
  flex-direction: column;
}

.searchResult {
  flex: 1 0 auto;
}

.noSearchResult {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
}

.headerFootertBg {
  background-color: black;
}
